.app {   
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #131316;     
}
.main {
    display: flex;
    position: relative;
    overflow:hidden;
    justify-content: center;
    height: 100%;
  }
.header {
    display: flex;
    justify-content: center;
}  
.contentBox {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    
}
.inputsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textBox {
    display: flex;
    align-items: center;
}